.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 50px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.card {
  border: none;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.icon {
  width: 15px;
  cursor: pointer;
}
.search-container {
  display: flex;
  margin: 0 20px 50px 140px;
  align-items: center;
  width: 350px;
}
.search-container > label {
  margin-right: 10px;
  height: 25px;
}
.clear-search-label:hover {
  cursor: pointer;
  color: rgb(29, 139, 235);
}
.clear-search-icon {
  margin-left: 20px;

  width: 30px;
  cursor: pointer;
}
h1,
h6 {
  text-align: center;
}
h1 {
  margin: 50px;
}
.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination div {
  color: white;
  float: left;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* Style the active/current link */
.pagination div.active {
  background-color: #05aff1;
}

/* Add a grey background color on mouse-over */
.pagination div:not(.active) {
  background-color: #444444;
}
